// @import url('../../../../public/EventBg.png');

.HackathonPoster {
    &.NoImg {
        .HackathonPoster {
            .detailsWrapper {
                box-shadow: 0px 4px 4px 0px #0000001A;
                width: 768px;
                // height: 303px;
                top: 1045px;
                left: 3078px;
                border-radius: 12px;
                display: flex;
            }
        }

        .PosterImg {
            display: none;
        }
    }

    &.posterPresent {
        display: flex;
        border-radius: 12px;
        box-shadow: 0px 4px 4px 0px #0000001A;


        .PosterImg {
            width: 237px;
            height: 303px;
            object-fit: cover;
            box-sizing: border-box;
        }

        .detailsWrapper {
            padding: 20px 0;
            padding-left: 0px;
            padding-right: 16px;
        }
    }

    .Hack-info {
        width: 768px;
        // height: 303px;
        // top: 200px;
        // left: 36px;
        border-radius: 12px;
        // margin-top: 0px;
        // padding: 20px;
        box-sizing: border-box;
        color: #fff;
        display: flex;
        gap: 20px;

        &.NoImg {
            background-image: url('./EventBg.png');
            background-position: center;    
            background-repeat: no-repeat;
            background-size: cover;

            .detailsWrapper {
                flex: 1;
            }

            .posterContainer {
                width: 0px;
                height: 0px;
            }
            .heading .Registeration{
                background: #FFF;
                a {
                color: #000;}
            }
        }

        .posterContainer {
            width: 237px;
            height: 303px;


            .PosterImg {
                // width: 100%;
                // height: auto;
                object-fit: cover;
                border-radius: 12px 0 0 12px;
            }
        }

        .detailsWrapper {
            flex: 1; // Allow this to take remaining space
            min-width: 0; // Prevent text overflow
        }

        .heading {
            display: flex;
            justify-content: space-between;

            .HackathonTitle {
                font-family: Calibri;
                font-weight: 400;
                font-size: 28px;
                line-height: 24px;
                letter-spacing: 0%;
                vertical-align: middle;

                .HackathonType {
                    font-family: Calibri;
                    font-weight: 700;
                    font-size: 28px;
                    line-height: 24px;
                    letter-spacing: 0%;
                    vertical-align: middle;
                    // .color{
                    //     color: ;
                    // }
                }
            }

            .Registeration {
                width: 134px;
                height: 45px;
                top: 19px;
                left: 617px;
                border-radius: 24px;
                padding-top: 12px;
                padding-right: 16px;
                padding-bottom: 12px;
                padding-left: 16px;
                display: flex;
                justify-content: center;
                align-items: center;
                box-sizing: border-box;
                // background-color: #fff;
                gap: 10px;

                background: linear-gradient(270deg, #000A52 0%, #010A53 42.62%, #3A45B2 100%);


                a {
                    font-family: Inter, sans-serif;
                    font-weight: 400;
                    font-size: 15px;
                    line-height: 20.8px;
                    letter-spacing: 0%;
                    vertical-align: middle;
                    text-align: center;
                    width: 102px;
                    height: 21px;
                    box-sizing: border-box;

                    text-decoration: none;
                    color: #FFF;
                }
            }
        }

        &.posterPresent {
            width: 768px;
            height: 303px;
            top: 1045px;
            left: 3078px;
            border-radius: 12px;
            padding: 0px;
            margin: 0px;

            background: none;
            color: #000;

            .heading .Registeration a {
                color: #FFF;
            }


            .HackathonTitle {
                // color: aqua;
                width: 336px;
                // height: 90px;
                // top: 21px;
                // left: 268px;
            }
        }

        .Hack-Desc {
            .detailPoint {
                list-style-type: none;

                // width: 194px;
                height: fit-content;
                top: 104px;
                left: 68px;

                font-family: "Inter", sans-serif;
                font-weight: 400;
                font-size: 14px;
                line-height: 20.8px;
                letter-spacing: 2%;
                vertical-align: middle;

                b {
                    margin-left: 5px;
                    font-family: "Inter", sans-serif;
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 20.8px;
                    // letter-spacing: 2%;
                    vertical-align: middle;
                }

            }

            &.posterPresent {
                width: 397px;
                height: 173px;
                top: 111px;
                left: 258px;
                box-sizing: border-box;

            }

            .PIC-details {
                .pic-name {
                    font-family: Inter, sans-serif;
                    font-weight: 300;
                    font-size: 14px;
                    line-height: 20.8px;
                    letter-spacing: 2%;
                    vertical-align: middle;

                    width: 285px;
                    height: 21px;

                    margin-top: 34px;
                    margin-bottom: 10px;
                }

                .pic-otherDetails {
                    font-family: Inter, sans-serif;
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 20.8px;
                    letter-spacing: 2%;
                    vertical-align: middle;
                }
            }
        }
    }
}