@keyframes checkedAnimation {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

.accountDetails {
    width: 757px;
    height: 56px;
    top: 38px;
    left: 35px;
    gap: 69px;
    margin: auto;
    display: flex;
    justify-content: space-between;

    .accountInfo {
        width: 650px;
        height: 56px;
        border-radius: 999px;
        display: flex;
        // justify-content: space-evenly;

        .profileImg {
            width: 56px;
            height: 56px;
            border-radius: 999px;
            margin-right: 20px;
        }

        .AccountTitle {
            width: 578px;
            height: 21px;
            left: 72px;


            font-family: "Inter", sans-serif;
            font-weight: 600;
            font-size: 16px;
            line-height: 100%;
            letter-spacing: 0%;
            vertical-align: middle;
            color: #000;

        }

        .follower-count,
        .TimeOfPost {
            width: 366px;
            height: 21px;

            display: flex;
            // justify-content: center;
            align-items: center;

            font-family: Inter;
            font-weight: 300;
            font-size: 14px;
            line-height: 100%;
            letter-spacing: 0%;
            vertical-align: middle;
            color: #5C5757;

        }

        p {
            font-family: "Inter", sans-serif;
            font-weight: 300;
            font-size: 14px;
            line-height: 100%;
            letter-spacing: 0%;
            vertical-align: middle;
            color: #5C5757;
        }


    }

    .bookmark input {
        width: 38;
        height: 44;
        border-radius: 6px;
        gap: 10px;
        padding: 10px;

        box-shadow: 0px 6px 12px 0px #00000026;
    }

    .BookmarkSpan {
        width: 38px;
        height: 44px;
        border-radius: 6px;
        gap: 10px;
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;

        .bookmark-chkbox {
            display: none;
        }

        .label-bookmark-chkbox {
            width: 38px;
            height: 44px;
            border-radius: 6px;
            gap: 10px;
            padding: 10px;
            box-sizing: border-box;
            box-shadow: 0px 6px 12px 0px #00000026;
            

            :hover {
                cursor: pointer;
            }
        }

        svg {
            transition: fill 0.2s ease-in-out;
            stroke-width: 5px;
            stroke: #8D91B0;
            animation: checkedAnimation 0.4s ease forwards;
            
            height: 24px;
            width: 18px;
            scale: 1.2;
            margin-top: auto;
            margin-bottom: auto;
        }
    }
}